<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.lmt.dao.RelationDao">
    <!-- 使用两条SQL语句加载数据 -->
    <select id="findUserAndBooks" parameterType="string" resultMap="userMap1">
        select * from cn_user
        where cn_user_id=#{cn_user_id}
    </select>

    <resultMap id="userMap1" type="com.lmt.entity.User">
        <id property="cn_user_id" column="cn_user_id"/>
        <result property="cn_user_name" column="cn_user_name"/>
        <collection property="books" javaType="java.util.List"
                    ofType="com.lmt.entity.NoteBook" select="findBooks" column="cn_user_id"></collection>
    </resultMap>

    <select id="findBooks" parameterType="String" resultType="com.lmt.entity.NoteBook">
        select * from cn_noteBook where cn_user_id=#{userId}
    </select>

    <!-- 使用一条SQL语句加载数据 -->
    <select id="findUserAndBooks2" parameterType="string" resultMap="userMap2">
        select *
        from cn_user a
        join cn_noteBook b on b.cn_user_id=a.cn_user_id
        where a.cn_user_id=#{cn_user_id}
    </select>

    <resultMap id="userMap2" type="com.lmt.entity.User">
        <id property="cn_user_id" column="cn_user_id"/>
        <result property="cn_user_name" column="cn_user_name"/>
        <result property="cn_user_password" column="cn_user_password"/>
        <result property="cn_user_token" column="cn_user_token"/>
        <result property="cn_user_desc" column="cn_user_desc"/>
        <!-- 去掉javaType、column这两项也可以 -->
        <collection property="books" javaType="java.util.List"
                    ofType="com.lmt.entity.NoteBook" column="cn_user_id">
            <id property="cn_notebook_id" column="cn_notebook_id"/>
            <result property="cn_user_id" column="cn_user_id"/>
            <result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
            <result property="cn_notebook_name" column="cn_notebook_name"/>
            <result property="cn_notebook_desc" column="cn_notebook_desc"/>
            <result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
        </collection>
    </resultMap>

    <!-- 通过查询笔记信息，关联用户信息（关联单个对象），使用两条SQL语句 -->
    <select id="findBookAndUser" resultMap="bookMap1">
        select * from cn_noteBook
    </select>

    <resultMap id="bookMap1" type="com.lmt.entity.NoteBook">
        <association property="user" javaType="com.lmt.entity.User" select="findUser" column="cn_user_id"></association>
    </resultMap>

    <select id="findUser" parameterType="String" resultType="com.lmt.entity.User">
        select * from cn_user where cn_user_id=#{userId}
    </select>

    <!-- 通过查询笔记信息，关联用户信息（关联单个对象），使用单条SQL语句 -->
    <select id="findBookAndUser2" resultMap="bookMap2">
        select *
        from cn_noteBook a
        join cn_user b on b.cn_user_id=a.cn_user_id
    </select>
    <!--
        <resultMap id="bookMap2" type="com.NoteBook">
            <id property="cn_notebook_id" column="cn_notebook_id"/>
            <result property="cn_user_id" column="cn_user_id"/>
            <result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
            <result property="cn_notebook_name" column="cn_notebook_name"/>
            <result property="cn_notebook_desc" column="cn_notebook_desc"/>
            <result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
            <association property="user" javaType="com.User">
                <id property="cn_user_id" column="cn_user_id"/>
                <result property="cn_user_name" column="cn_user_name"/>
                <result property="cn_user_password" column="cn_user_password"/>
                <result property="cn_user_token" column="cn_user_token"/>
                <result property="cn_user_desc" column="cn_user_desc"/>
            </association>
        </resultMap>
     -->

    <resultMap id="bookMap2" type="com.lmt.entity.NoteBook">
        <id property="cn_notebook_id" column="cn_notebook_id"/>
        <result property="cn_user_id" column="cn_user_id"/>
        <result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
        <result property="cn_notebook_name" column="cn_notebook_name"/>
        <result property="cn_notebook_desc" column="cn_notebook_desc"/>
        <result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
        <association property="user" column="cn_user_id" javaType="com.lmt.entity.User" resultMap="userResult"></association>
    </resultMap>

    <resultMap id="userResult" type="com.lmt.entity.User">
        <id property="cn_user_id" column="cn_user_id"/>
        <result property="cn_user_name" column="cn_user_name"/>
        <result property="cn_user_password" column="cn_user_password"/>
        <result property="cn_user_token" column="cn_user_token"/>
        <result property="cn_user_desc" column="cn_user_desc"/>
    </resultMap>
</mapper>
